/**
 * CSS Stylesheet for cart views.
 *
 * W3C-compliant version.
 *
 */
img.product-pic
{
	width: 50px;
	height: 50px;
	padding:2px;
	border: solid #888 1px;
    -webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}

img.product-pic-check
{
	width: 30px;
	height: 30px;
	padding:2px;
	border: solid #888 1px;
    -webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}

tr.item:hover
{
	background: #ded;
}

td.name a
{
	text-decoration: none;
	font-size: 16px;
	color: #666;
}

td.value
{
    text-align: right;
}

td.quantity
{
    text-align: left;
}

td.total
{
    text-align: right;
	font-size: 18px;
	font-weight: bold;
	padding-top: 12px;
	border-top: 1px solid #999;  
}

#checkout
{
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    display: inline;
        
	background: #d1d1d1; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */
 
	color: #444;
	border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	
	margin-left: 10px;
	padding:  7px 30px;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
}

#checkout:hover
{
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1a1a1', endColorstr='#ebebeb'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#a1a1a1), to(#ebebeb)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #a1a1a1,  #ebebeb); /* for firefox 3.6+ */
	cursor: pointer;
}

.delete
{
    cursor: pointer;
}
