
img.product-pic
{
	width: 50px;
	height: 50px;
	padding:2px;
	border: solid #888 1px;
    -webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}

tr.item:hover
{
	background: #ded;
}

td.name a
{
	text-decoration: none;
	font-size: 16px;
	color: #666;
}

td.total
{
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	padding: 12px;
	border-top: 1px solid #999;  
}