/*
 * CSS Stylesheet for categories.
 *
 * W3C-compliant version.
 *
 * Updated on 3.3.2011.
 */
#category-content
{
	width:              880px;
}

#left-side
{
	float:              left;
	width:              270px;
}

#left-side img
{
	border:             1px solid #888;
	width:              260px;
}

#right-side
{
	float:              left;
	padding-left:       10px;
	width:              600px;
}

#headder
{
	float:              left;
}

#clear
{
	clear:              both;
	text-align:         left;
}

.note
{
    margin:             0 auto;
    text-align:         center;
}

#categories
{
	margin:             0 auto; 
	width:              690px;	
}

#categories h2
{
	margin-top:         2em;
}

#checkbox
{
	background:         #fee;
	float:              left;
}

#category
{
	background:         #fee;
	border:             1px solid #fde;
    display:            inline;
	height:             20px;
    float:              left;
    text-align:         left;
	width:              690px;
}

#category:hover
{
	background:         #ded;
	cursor:             pointer;
}

h1.category
{
	color:              #666;
	font-family:        normal Helvetica, sans-serif;
	font-size:          16px;
	margin-top:         -22px;
	text-transform:     capitalize;
}

h1.category  a
{
	color:              #666;
	text-decoration:    none;
	text-transform:     capitalize;
}
