/*
 * CSS Stylesheet for categories.
 *
 */
#category-content
{
	width: 880px;
}

#left-side
{
	width: 270px;
	float: left;
}

#left-side img
{
	width: 260px;
	border: solid #888 1px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 5px rgba(255, 255, 255, .8);
	
    -webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}

#right-side
{
	float: left;
	padding-left: 10px;
	width: 600px;
}

#headder
{
	float: left;
}

#clear
{
	clear: both;
	text-align: left;
}

.note
{
    margin:             0 auto;
    text-align:         center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#categories
{
	margin:                 0 auto; 
	width:                  690px;	
}

#categories h2
{
	margin-top:             2em;
}

#checkbox
{
	background: #fee;
	float: left;
}

#category
{
	background: #fee;
	border:  1px solid #fde;
	width:   690px;
	height:  20px;
    float: left;
    text-align: left;
    display: inline;
    -webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}

#category:hover
{
	background: #ded;
	cursor: pointer;
}

h1.category
{
	text-transform:capitalize;
	margin-top: -22px;
	font: normal Helvetica, sans-serif;
	text-shadow: Silver 2px 2px 2px;
	font-size: 16px;
	color: #666;
}

h1.category  a
{
	text-decoration: none;
	text-transform:capitalize;
	color: #666;
}
