/*
 * CSS Stylesheet for categories.
 *
 * W3C-compliant version.
 */
#category-content
{
	width: 880px;
}

#left-side
{
	width: 270px;
	float: left;
}

#left-side img
{
	width: 260px;
	border: solid #888 1px;
}

#right-side
{
	float: left;
	padding-left: 10px;
	width: 600px;
}

#headder
{
	float: left;
}

#clear
{
	clear: both;
	text-align: left;
}

.note
{
    margin:             0 auto;
    text-align:         center;
}

#categories
{
	margin:                 0 auto; 
	width:                  690px;	
}

#categories h2
{
	margin-top:             2em;
}

#checkbox
{
	background: #fee;
	float: left;
}

#category
{
	background: #fee;
	border:  1px solid #fde;
	width:   690px;
	height:  20px;
    float: left;
    text-align: left;
    display: inline;
}

#category:hover
{
	background: #ded;
	cursor: pointer;
}

h1.category
{
	text-transform:capitalize;
	margin-top: -22px;
	font-family: normal Helvetica, sans-serif;
	font-size: 16px;
	color: #666;
}

h1.category  a
{
	text-decoration: none;
	text-transform:capitalize;
	color: #666;
}
