/*
 * CSS Stylesheet for products.
 *
 * W3C-compliant version.
 *
 * Updated on 3.3.2011.
 *
 */
#product-content
{
	width:              880px;
}

#left-side
{
	float:              left;
	width:              270px;
}

#left-side img
{
	border:             1px solid #888;
	width:              260px;
}

#right-side
{
	float:              left;
	padding-left:       10px;
	width:              600px;
}

#p-name
{
	float:              left;
}

#p-price
{
	background:         #d1d1d1;
	border-top:         1px solid #f8f8f8;
	color:              #444;
	display:            block;
	float:              right;
    font-size:          14px;
    font-weight:        800;
    margin:             5px 0;
	padding:            6px 10px;
    text-align:         center;
}

#p-price:hover
{
	cursor:             pointer;
    margin-top:         7px;
}

div.comment 
{
	font-size:          0.75em;
	padding:            10px;
	margin-bottom:      0px;
	width:              580px;
}

div.comment blockquote 
{
	background-color:   #fff;
	border:             1px solid #c9c2c1;
	font-size:          11px;
	font-family:        Verdana;
	margin:             0px;
	padding:            5px;
}

div.buyer blockquote 
{
	background-color:   #808080;
	border:             1px solid #404040;
	color:              white;
}

cite.buyer 
{
	font-style:         normal;
	margin:             0px;
	padding:            7px 0px 0px 15px;
	position:           relative;
	top:                1px;
}

div.comment blockquote p 
{
	margin:             10px;
	padding:            0px;
}

div.comment a
{
	text-decoration:    none;
}

div.comment a:hover
{
	cursor:             pointer;
	text-decoration:    underline;
}

div.comment cite 
{
	background:         transparent url(/static/images/tip.gif) no-repeat 20px 0;
	font-style:         normal;
	margin:             0px;
	padding:            7px 0px 0px 15px;
	position:           relative;
	top:                1px;
}

div.comment:hover > .rate
{
	display:            block;
}

div.comment:hover > blockquote
{

	border:             1px solid #A0A0A0;
}

.rate 
{
	display:            none;
	font-style:         normal;
	margin-left:        500px;
	margin-top:         -19px;
	position:           relative;
	top:                1px;
	width:              120px;
}

#clear
{
	clear:              both;
	text-align:         left;
}

div.comment img:hover
{
	cursor:             pointer;
}

div.write_reply
{
	display:            none;
	margin-left:        20px;
}
