
#product-content
{
	width: 880px;
}

#left-side
{
	width: 270px;
	float: left;
}

#left-side img
{
	width: 260px;
	border: solid #888 1px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 5px rgba(255, 255, 255, .8);
	
    -webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}

#right-side
{
	float: left;
	padding-left: 10px;
	width: 600px;
}

#p-name
{
	float: left;
}

#p-price
{
	float: right;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    margin: 5px 0;
        
	background: #d1d1d1; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */
 
	color: #444;
	border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	
	display: block;
	padding:  6px 10px;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
}

#p-price:hover
{
    margin-top: 7px;
	cursor: pointer;
}

/* Comments */
div.comment 
{
	width: 580px;
	font-size: 0.75em;
	padding: 10px;
	margin-bottom: 0px;
}

div.comment blockquote 
{
	margin: 0px;
	padding: 5px;
	font-size: 11px;
	font-family: Verdana;
	border: 1px solid #c9c2c1;
	background-color: #fff;
	
	-webkit-border-radius: 0.6em;
	-moz-border-radius: 0.6em;
}

div.comment blockquote p 
{
	margin: 10px;
	padding: 0px;
}

div.comment cite 
{
	position: relative;
	margin: 0px;
	padding: 7px 0px 0px 15px;
	top: 1px;
	background: transparent url(/static/images/tip.gif) no-repeat 20px 0;
	font-style: normal;
}

div.comment:hover > .rate
{
	display: block;
}

div.comment:hover > blockquote
{

	border: 1px solid #A0A0A0;
}

.rate 
{
	width: 60px;
	margin-left: 525px;
	margin-top: -19px;
	position: relative;
	top: 1px;
	font-style: normal;
	display: none;
}

#clear
{
	clear: both;
	text-align: left;
}

div.comment img:hover
{
	cursor: pointer;
}
