/**
 * Baseline CSS stylesheet for Webshop
 *
 * Updated on 3.3.2011.
 *
 */



/*** GENERAL ***/
body 
{
	background:         #ffe;
	color:              #444;
	font:               normal .8em/1.5em Arial, Helvetica, sans-serif;
	margin:             10px auto;
}

a 
{
	color:              #222;
}

img
{
    border:             0;
    vertical-align:     middle;
}

#wraper
{ 
	text-align:         left; 
	width:              900px; 
	margin:             auto; 
}

#content
{
	float:              left; 
	margin:             10px;
	width:              680px;
	text-align:         justify;
}

#side_bar
{
	background:         #ddd; /* non-CSS3 browsers */
	filter:  	        progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* MSIE */
	background:         -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* webkit */
	background:         -moz-linear-gradient(top,  #fff,  #cfcfcf); /* firefox 3.6+ */
	
	border:             solid 1px #b4b4b4;
	-webkit-border-radius: 10px;
	-moz-border-radius:    10px;
	border-radius:         10px;

	float:              left; 	
	margin-top:         10px;
	padding:            0;
	width:              185px;

}

#side_bar ul
{
	background:         0;

	border:             0;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;

	margin-bottom:      0;
	margin-left:        0;
	margin-top:         0;
}

#side_bar li 
{
	list-style:     none;
}

#side_bar a 
{
	-webkit-border-radius: 1.6em;
	-moz-border-radius:    1.6em;

	color:              #696969;
	display:            block;
	font-weight:        bold;
	margin:             0;
	padding:            3px 20px;
	text-decoration:    none;
}

#side_bar a:hover 
{
	background:     #0399d4 !important; /* non-CSS3 browsers */
	filter:         progid:DXImageTransform.Microsoft.gradient(startColorstr='#04acec', endColorstr='#0186ba'); /* MSIE */
	background:     -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important; /* webkit */
	background:     -moz-linear-gradient(top,  #04acec,  #0186ba) !important; /* firefox 3.6+ */
 
	-webkit-border-radius: 0;
	-moz-border-radius:    0;

	color:              #fff !important;
	text-shadow:        0 1px 1px rgba(0, 0, 0, .1);
}

#side_bar li:first-child > a 
{
	-webkit-border-top-left-radius:  9px;
	-moz-border-radius-topleft:      9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright:     9px;
}

#side_bar li:last-child > a 
{
	-webkit-border-bottom-left-radius:  9px;
	-moz-border-radius-bottomleft:      9px;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright:     9px;
}

#footer
{
    border-top:         1px dotted #888;
    clear: 	            both;
    color:              #888;
	margin-top:         10px;
	padding:            10px;
    text-align:         center;
}





/*** EXTRA STUFF ***/
.note
{
    margin:             0 auto;
    text-align:         center;
	-webkit-border-radius: 10px;
	-moz-border-radius:    10px;
	border-radius:         10px;
}

#products
{
	margin:             0 auto; 
	width:              690px;	
}

#products h2
{
	margin-top:         2em;
}

#product
{
	background:         #fee;
	border:             1px solid #fde;
    -webkit-border-radius: 1em;
	-moz-border-radius:    1em;

    display:            inline;
    float:              left;
	height:             160px;
    margin:             10px;
    padding:            10px;
    text-align:         center;
	width:              130px;
}

#product:hover
{
	background:         #ded;
	cursor:             pointer;
}

h1.product
{
	color:              #666;
	font-family:        normal Helvetica, sans-serif;
	font-size:          16px;
	margin-top:         -22px;
	text-shadow:        Silver 2px 2px 2px;
	text-transform:     capitalize;
}

h1.product  a
{
	color:              #666;
	text-decoration:    none;
	text-transform:     capitalize;
}

div.title
{
	color:              #666;
    margin-top:         0px;
	font-family:        normal Helvetica, sans-serif;
	font-size:          16px;
    font-weight:        bold;
	text-transform:     capitalize;
	text-shadow:        Silver 2px 2px 2px;
}

div.title  a
{
	color:              #666;
	text-decoration:    none;
	text-transform:     capitalize;
}

div.title a:hover
{
	color:              #444;
	text-decoration:    underline;
}

.product-image
{
	height:             130px;
	position:           relative;
    text-align:         center;
}

.product-image img
{
    margin:             0 auto;
    max-height:         120px;
    max-width:          120px;
    text-align:         center;
}


.price
{
    background:         #d1d1d1; /* non-CSS3 browsers */
	filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* MSIE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* webkit */
	background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* firefox 3.6+ */

	border-top:         1px solid #f8f8f8;
	-webkit-border-radius: 1.6em;
	-moz-border-radius:    1.6em;

	color:              #444;
	display:            block;
    font-size:          14px;
    font-weight:        800;
    left:               -8px;
	padding:            3px 5px;
    position:           absolute;
    text-align:         center;

	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow:    0 1px 1px rgba(0, 0, 0, .2);
	box-shadow:         0 1px 1px rgba(0, 0, 0, .2);
	text-shadow:        0 1px 1px rgba(0, 0, 0, .3);
    top:                100px;
}

.price-list
{
    text-align:         center;
    text-shadow:        Silver 2px 2px 2px;
    font-size:          14px;
    font-weight:        800;
    padding:            3px 0;
        
    background:         #d1d1d1; /* non-CSS3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* MSIE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* webkit */
	background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* firefox 3.6+ */
 
	border-top:         1px solid #f8f8f8;
	-webkit-border-radius: 1.6em;
	-moz-border-radius:    1.6em;

	color:              #444;
	padding:            3px 5px;

	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow:    0 1px 1px rgba(0, 0, 0, .2);
	box-shadow:         0 1px 1px rgba(0, 0, 0, .2);
	text-shadow:        0 1px 1px rgba(0, 0, 0, .3);

}

.price-list:hover
{
	cursor:             pointer;
	margin-bottom:      -2px;
}

.middle
{
	display:            table-cell; 
	height:             130px;
	vertical-align:     middle;
}

input
{
    border:             1px solid #888;
    padding:            2px;
}

textarea
{
    border:             1px solid #888;
    padding:            2px;
}

.error
{
    color:              red;
    display:            block;
    font-weight:        bold;
    margin:             1em 0;
}

.success
{
    color:              green;
    display:            block;
    font-weight:        bold;
    margin:             1em 0;
}

td.product
{
	border-top:         1px solid #999;
	padding-top:        10px;
}

td.product-description
{
    border-top:         1px solid #999;
	padding-top:        10px;
	width:              510px;
}

img.product-pic
{
	border:             solid #888 1px;
    -webkit-border-radius: 1em;
	-moz-border-radius:    1em;
	height:             70px;
	padding:            2px;
	width:              70px;
}

img.pic
{
	border:             1px solid #888;
    -webkit-border-radius: 1em;
	-moz-border-radius:    1em;
    padding:            2px;
}

div.display-options
{
    text-align:         right; 
}

.button
{
    cursor:             pointer;

	background:     #33729a; /* non-CSS3 browsers */
	filter:  	progid:DXImageTransform.Microsoft.gradient(startColorstr='#33729a', endColorstr='#6898b7'); /* MSIE */
	background: -webkit-gradient(linear, left top, left bottom, from(#33729a), to(#6898b7)); /* webkit */
	background: -moz-linear-gradient(top,  #33729a,  #6898b7); /* firefox 3.6+ */

	border:             1px ridge gray;
    -webkit-border-radius: 0.3em;
	-moz-border-radius:    0.3em;

    color:              white;
    font-size:          large;
    font-weight:        bold;
    padding:            4px;
}


.button:hover
{
	background:         #6898b7;
}


.return
{
    cursor:             pointer;

	background:         #f18300; /* non-CSS3 browsers */
	filter:  	progid:DXImageTransform.Microsoft.gradient(startColorstr='#f18300', endColorstr='#f9b26d'); /* MSIE */
	background: -webkit-gradient(linear, left top, left bottom, from(#f18300), to(#f9b26d)); /* webkit */
	background: -moz-linear-gradient(top,  #f18300,  #f9b26d); /* firefox 3.6+ */

	border:             1px ridge gray;
    -webkit-border-radius: 0.3em;
	-moz-border-radius:    0.3em;

    color:              #222;
    font-weight:        bold;
    padding:            4px;
}


.return:hover
{
	background:         #f9b26d;
}


.delete
{
    cursor:             pointer;

	background:         #ec3333; /* non-CSS3 browsers */
	filter:  	progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec3333', endColorstr='#ec8080'); /* MSIE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ec3333), to(#ec8080)); /* webkit */
	background: -moz-linear-gradient(top,  #ec3333,  #ec8080); /* firefox 3.6+ */

	border:             1px ridge gray;
    -webkit-border-radius: 0.3em;
	-moz-border-radius:    0.3em;

    color:              #222;
    font-weight:        bold;
    padding:            4px;
}


.delete:hover
{
	background:         #ec8080;
}

.disabled
{
	background:         #ddd;
	border:             1px ridge gray;
    -webkit-border-radius: 0.3em;
	-moz-border-radius:    0.3em;
    cursor:             pointer;
    font-weight:        bold;
    padding:            4px;
}


.buttons
{
    padding-top:        1em;
    text-align:         left;
}

.share
{
    font-style:         oblique;
}

.centered
{
    margin:             0 auto;
}

table.table-cart
{
    width:              500px;
}