<!DOCTYPE html>
<html> 
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel=stylesheet href="/static/css/style.css" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
        <script src="/static/js/validate.js"></script>
        <script src="/static/js/formvalidation.js"></script>
    	<title>{% block title %}{% endblock %}</title>
    	{% block extra_head %}{% endblock %}
  	</head> 
  	
  	<body>
        <p>Session ID: '{{ request.session.session_key }}'</p>
  		<div id="wraper">
	  		{% block header %}
	  		<div id="nav-menu">
		  		<ul id="nav"> 
					<li class="logo"><div id="logo"><img src="/static/images/logo.png" width="63" height="59"  onclick="window.location.href='/';" /></div></li>
					<li class="search">

						<form class="searchform"  action="/search" method="post">
							{% csrf_token %}
							<input class="searchfield" name="query" type="text" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}" /> 
							<input class="searchbutton" type="submit" value="Go" /> 
						</form>
					</li>
					
	                {% if request.session.id %}
					    <li><a href="/signout">Sign out</a></li>
	                {% else %}
					    <li><a href="/signin">Sign in</a></li> 
	                {% endif %}
	                    
					<li id="nav-separator"></li>
				
                    {% if request.session.id %}
                        <li><a href="#">{{ request.session.user }}</a> 
                            <ul> 
                                <li><a href="#">My cart</a></li> 
                                <li><a href="/profile">My profile</a></li> 
                            </ul> 
                        </li> 
                        <li><a href="#"><img  id="cart" src="/static/images/cart-icon.png" width="28" height="28" /> 2 items</a> </li>
                    {% else %}
					    <li><a href="/signup">Sign up</a></li>
                    {% endif %}
				</ul> 
	  		</div>
	  		{% endblock %}
	  			
		  		{% block side_bar %}
		  			<div id="side_bar">
						<ul id="side_bar">
						{% for category in categories %}
							<li><a href="/category/{{ category.name }}/">{{ category.name }}</a></li>
						{% endfor %}
						</ul>	
		  			</div>
		  		{% endblock %}
		  		
		  		<div id="content">
		  			{% block main_content %}{% endblock %}
		  		</div>
	  	
	  		<div id="footer">
		  		{% block footer %}
		        	&copy;2011 The Webshop Team, Finland | <a
                    href="/myadmin">Administrative page</a>
		        {% endblock %}
	  		</div>
  		</div>
  		
  	</body> 
</html> 
