{% extends "base.html" %}

{% block title %} Category | Add New Category {% endblock %}
{% block extra_head %}
	<link rel=stylesheet href="/static/css/category.css" type="text/css" />
{% endblock %}

{% block side_bar %}{% endblock %}

{% block main_content %}
	<div id="product-content">
		<div id="left-side">
		</div>
		
		<div id="right-side">
			<div id="headder">
				<h1>Add New Category</h1>
			</div>			
			
			<div id="clear" style="margin-left: 5px;">
				<div id="category_form">
					<form action="categoryInsert" method="post">
						{% csrf_token %}
						{{ categoryForm.as_p }}
					<input type="submit" value="Save" />
					</form>
				</div>
			</div>
		</div>
			
	</div>

{% endblock %}
