{% extends "base.html" %}

{% block title %} Category | Category List {% endblock %}
{% block extra_head %}
	<link rel=stylesheet href="/static/css/category.css" type="text/css" />
{% endblock %}

{% block side_bar %}{% endblock %}

{% block main_content %}
<form action="categoryDelete" method="post">
	{% csrf_token %}
	<div id='categories'>	
        <h2>Category List</h2>
		{% for category in categories %}
			<table>
				<tr id='category'>
					<td>
						<input type="checkbox" value="{{ category.id }}" name="categoryList"/>
					</td>
					<td class="category" onclick="window.location.href='/category/{{ category.name }}'; ">
						<a href="/category/{{ category.name }}/">{{ category.name }}</a>
					</td>
				</tr>
			
			</table>
		{% endfor %}
	</div>
	<input type="submit" value="Delete selected categories" />
</form>
{% endblock %}
