{% extends "base.html" %}

{% block title %} Welcome to Webshop! {% endblock %}

{% block main_content %}
    <h1>Forgot your passowrd?</h1>
    {% if password_sent %}
        <p>A new password has been sent to the email address '{{ email }}'.</p>
        <p><a href="/">Back to the home page</a></p>
    {% else %}
        {% if doesnt_exist %}
            <div class="error">There is no user registered with the email you
            introduced.</div>
        {% endif %}
        <p>Please enter your email address and we will send you a new password!</p>
        <form id="forgot_form" method="post" action="/sendPassword">
        {% csrf_token %}
            Your email address: {{ form.email }}
            <br /><br />
            <input class="button" type="submit" value="Send me a new password" />
        </form>
    {% endif %}
{% endblock %}
