<!--
   - list.html
   -
   - TODO: document me!
   -
-->
{% extends "base.html" %}

{% block main_content %}

	<script>
	csrf_token = "{{ csrf_token }}";
	function add(id){
		$.post('/cart/add', { product: id, csrfmiddlewaretoken: csrf_token},
		 function(data) {
			$('#products-in-cart').html(data);
			$("#my-cart").hide();
			$("#my-cart").fadeIn();
		});
	}
	</script>
	
	<h2>{{ message }}</h2>
	
	<div id='products'>
		
		{% if icons == 'OK' %}
		
			<div class="display-options">
				<a href="?l=no{% if query != '' %}&amp;query={{ query }} {% endif %}"><img src="/static/images/icons.png" /></a><br/><br/>
			</div>
			
			{% for product in products %}
				<div id='product' onclick="window.location.href='/product/{{ product.id }}'; ">
					<h1 class="product"><a href="/product/{{ product.id }}/">{{ product.short_name }}</a></h1>
					<div class="product-image">
						<div class="middle"><img src="/static/images/products/{{ product.id }}" /></div>
						<div class="price">{{ product.price }} &euro;</div>
					</div>
					<p>
					<!-- This is awful, I know, but I can do in range(product.average_rating) -->	
					{% if product.average_rating == 0 %}
						<img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" />
					{% endif %}	
					{% if product.average_rating == 1 %}
						<img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" />
					{% endif %}
					{% if product.average_rating == 2 %}
						<img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" />
					{% endif %}
					{% if product.average_rating == 3 %}
						<img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" />
					{% endif %}
					{% if product.average_rating == 4 %}
						<img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" />
					{% endif %}
					{% if product.average_rating == 5 %}
						<img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" />
					{% endif %}
					</p>
				</div>
			{% endfor %}
		
		{% else %}
		
		<div class="display-options">
			<a href="?l=icons{% if query != '' %}&amp;query={{ query }} {% endif %}"><img src="/static/images/list.png" /></a><br/><br/>
		</div>
		
		<div class="centered">
		<table>
		{% for product in products %}
			<tr>
				<td rowspan="2" class="product">
					<a href="/product/{{ product.id }}/"> <img class="product-pic" src="/static/images/products/{{ product.id }}" ></a>
				</td>
				<td class="product-description">
					<div class="title"><a href="/product/{{ product.id }}/">{{ product.name }}</a></div>
					{{ product.short_description }}
				</td>
				<td class="product" >
					<div class="price-list"  onclick="add({{product.id}});">{{ product.price }} &euro;</div>
				</td>
			
			<tr>
				<td colspan="2">
				<!-- This is awful, I know, but I can do in range(product.average_rating) -->	
				{% if product.average_rating == 0 %}
					<img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> 
				{% endif %}	
				{% if product.average_rating == 1 %}
					<img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> 
				{% endif %}
				{% if product.average_rating == 2 %}
					<img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" />
				{% endif %}
				{% if product.average_rating == 3 %}
					<img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" />
				{% endif %}
				{% if product.average_rating == 4 %}
					<img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic-no.png" alt="heart" />
				{% endif %}
				{% if product.average_rating == 5 %}
					<img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" /> <img src="/static/images/heart-pic.png" alt="heart" />
				{% endif %}
				
				&nbsp; &nbsp;&nbsp;<img src="/static/images/comments.png" /> {{ product.comment_count }} comments
				
				</td>
				
			</tr>
		{% endfor %}
		</table>
		</div>
		{% endif %}
	</div>
{% endblock %}
