<!--
  - myadmin_edit_product.html
  -
  - This form is used to edit a product.
-->
{% extends "base.html" %}

{% block title %} Webshop -- Edit Product {% endblock %}
{% block extra_head %}
	<meta http-equiv="cache-control" content="no-cache" />
	<link rel=stylesheet href="/static/css/admin.css" type="text/css" />
{% endblock %}

{% block side_bar %}
	<div id="side_bar">
		<ul id="side_bar">
			<li><a href="/myadmin_products">Administrate products</a></li>
			<li><a href="/myadmin_orders">Administrate orders</a></li>
			<li><a href="/admin/auth/user">Administrate users</a></li>
			<li><a href="/admin/web/category">Administrate categories</a></li>
		</ul>	
	</div>
{% endblock %}

{% block main_content %}
    {% block new_product_form %}
    <h1>{{ product_name }}</h1>
    {% if product_not_saved %}
        <div class="error">Product could not be modified!</div>
    {% endif %}
    {% if product_saved %}
        <div class="success">Product data saved successfully!</div>
    {% endif %}
    {% if product_added %}
        <div class="success">Product added successfully!</div>
    {% endif %}
        <form enctype="multipart/form-data" id="add_product_form" method="post"
              action="/saveProduct/{{ product_id }}">
        {% csrf_token %}
        <table>
        <tr>
            <td colspan="2">
                <img src="/{{ icon }}" align="middle"
                     height="64" id="picture_enabler"
                     style="cursor: pointer;" title="Edit picture" />
                <em>Click on the image to change the product picture</em>
                <br />
                {{ form.picture }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="name">Product name:</label>
            </td>
            <td>
            {{ form.name }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="desc">Description:</label>
            </td>
            <td>
            {{ form.description }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="category">Category:</label>
            </td>
            <td>
            {{ form.category }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="units">Units:</label>
            </td>
            <td>
            {{ form.stock_count }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="price">Price:</label>
            </td>
            <td>
            {{ form.price }}
            </td>
        </tr>
        <!--
        <tr>
            <td>
	        <label for="price">Tags (comma-separated):</label>
            </td>
            <td>
            {{ form.tags }}
            </td>
        </tr>
        -->
        <tr>
            <td colspan="2" class="buttons">
                <input class="button" type="submit" id="submit" value="Save" />
                <input class="return" type="button" value="Back to products" 
                       onclick="window.location='/myadmin_products'" />
            </td>
        </tr>
        </table>
        </form>
    {% endblock %}
{% endblock %}
