{% extends "base.html" %}

{% block title %} Administrative Pages {% endblock %}
{% block extra_head %}
	<link rel=stylesheet href="/static/css/admin.css" type="text/css" />
{% endblock %}

{% block main_content %}
    <h1>Administrative Functions</h1>
    session id = {{ request.session.id }}
    session user = {{ request.session.user }}
    <ul id="admin">
        <li onclick="window.location='/myadmin_products'"><a href="/myadmin_products">Administrate products</a></li>
        <li onclick="window.location='/myadmin_categories'"><a href="/myadmin_categories">Administrate categories</a></li>
        <li onclick="window.location='/myadmin_users'"><a href="/myadmin_users">Administrate users</a></li>
        <li onclick="window.location='/myadmin_orders'"><a href="/myadmin_users">Administrate orders</a></li>
    </ul>
{% endblock %}
