{% extends "base.html" %}

{% block title %} Administrative Pages -- Categories {% endblock %}
{% block extra_head %}
	<link rel=stylesheet href="/static/css/admin.css" type="text/css" />
{% endblock %}

{% block main_content %}
    <h1>Administrate Categories</h1>
    <div class="functions">
        <form method="post" action="/deleteCategories">
        {% csrf_token %}
        <a href="/myadmin_add_category">Add category</a>
        {% ifnotequal categories_no 0 %}
            |
            <input type="submit" value="Delete selected categories" />
        {% endifnotequal %}
    </div>
    {% ifequal categories_no 0 %}
        <div class="error">There are no categories in the system!</div>
    {% else %}
        <ul id="admin">
        {% for c in categories %}
            <li>
			    <input type="checkbox" value="{{ c.id }}" name="category_list" />
                <a href="/editCategory/{{ c.id }}">{{ c.name }}</a>
            </li>
        {% endfor %}
        </ul>
        </form>
    {% endifequal %}
{% endblock %}
