{% extends "base.html" %}

{% block title %} Administrative Pages -- Products {% endblock %}
{% block extra_head %}
	<link rel=stylesheet href="/static/css/admin.css" type="text/css" />
{% endblock %}

{% block main_content %}
    <h1>Administrate Products</h1>
    {% if product_added %}
        <p>Product added successfully!</p>
    {% endif %}
    <div class="functions">
        <form method="post" action="/deleteProducts">
        {% csrf_token %}
        <a href="/myadmin_addProduct">Add product</a>
        {% ifnotequal products_no 0 %}
            |
            <input type="submit" value="Delete selected products" />
        {% endifnotequal %}
    </div>
    {% ifequal products_no 0 %}
        <div class="error">There are no products in the system!</div>
    {% else %}
        <ul id="admin">
        {% for p in products %}
            <li>
			    <input type="checkbox" value="{{ p.id }}" name="product_list" />
                <a href="/edit_product/{{ p.id }}">{{ p.name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endifequal %}
{% endblock %}
