<!--
  - myadmin_add_product.html
  -
  - This form is used to add a new product.
-->
{% extends "base.html" %}

{% block title %} Webshop -- New Product {% endblock %}

{% block main_content %}
    {% block new_product_form %}
    {% if product_not_added %}
        <div class="error">Product could not be added!</div>
    {% endif %}
        <h1>New Product</h1>
        <form enctype="multipart/form-data" id="add_product_form" method="post"
              action="/addProduct">
        {% csrf_token %}
        <table>
        <tr>
            <td colspan="2">
                <img src="/static/images/products/unknown.png" align="middle"
                     height="64" id="picture_enabler"
                     style="cursor: pointer;" title="Add your own picture" />
                <em>Click on the image to add a product picture</em>
                <br />
                {{ form.picture }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="name">Product name:</label>
            </td>
            <td>
            {{ form.name }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="desc">Description:</label>
            </td>
            <td>
            {{ form.description }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="category">Category:</label>
            </td>
            <td>
            {{ form.category }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="units">Units:</label>
            </td>
            <td>
            {{ form.stock_count }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="price">Price:</label>
            </td>
            <td>
            {{ form.price }}
            </td>
        </tr>
        <!--
        <tr>
            <td>
	        <label for="price">Tags (comma-separated):</label>
            </td>
            <td>
            {{ form.tags }}
            </td>
        </tr>
        -->
        <tr>
            <td colspan="2" class="buttons">
                <input class="button" type="submit" id="submit" value="Save" />
                <input class="return" type="reset" value="Clear" />
                <input class="return" type="button" value="Back to products"
                       onclick="window.location='/myadmin_products'" />
            </td>
        </tr>
        </table>
        </form>
    {% endblock %}
{% endblock %}
