<!--
   - myadmin.html
   - 
   - Ask for the master password to enter myadmin_page, where is possible to
   - administrate users, staff, products, categories, orders and more.
 --!>
{% extends "base.html" %}

{% block title %} Webshop -- Administrative Pages {% endblock %}

{% block main_content %}
    {% block login_form %}
        <h1>Enter master password</h1>
        {% if login_failed %}
            <div class="error">Master password incorrect!</div>
        {% endif %}
        <form method="post" action="/login">
        {% csrf_token %}
        <tr>
            <td>
	        <label for="pass">Master password:</label>
            </td>
            <td>
            <input type="password" id="pass" name="pass" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" name="submit" value="Access" />
            </td>
        </tr>
        </table>
        </form>
    {% endblock %}
{% endblock %}
