{% extends "base.html" %}

{% block title %} Administrative Pages -- Orders {% endblock %}
{% block extra_head %}
	<link rel=stylesheet href="/static/css/admin.css" type="text/css" />
{% endblock %}

{% block main_content %}
    <h1>Administrate Orders</h1>
    <div class="functions">
        {% ifnotequal orders_no 0 %}
            <strong>Functions:</strong>
            <a href="/myadmin_delete_orders">Cancel selected orders</a>
        {% endifnotequal %}
    </div>
    {% ifequal orders_no 0 %}
        <div class="error">There are no orders in the system!</div>
    {% else %}
        <ul id="admin">
        {% for o in orders %}
            <li>
                <strong>Order #{{ o.id }}</strong>
                <br />
                <strong>Product:</strong> {{ o.product }}
                <br />
                <strong>User:</strong> {{ o.user }}
                <br />
                <strong>Date:</strong> {{ o.payment_date }}
            </li>
        {% endfor %}
        </ul>
    {% endifequal %}
{% endblock %}
