{% extends "base.html" %}

{% block title %} Administrative Pages -- Users {% endblock %}
{% block extra_head %}
	<link rel=stylesheet href="/static/css/admin.css" type="text/css" />
{% endblock %}

{% block main_content %}
    <h1>Administrate Users</h1>
    <div class="functions">
        <a href="/myadmin_add_user">Add user</a>
        {% ifnotequal categories_no 0 %}
            |
            <a href="/myadmin_delete_users">Delete selected users</a>
        {% endifnotequal %}
    </div>
    {% ifequal users_no 0 %}
        <div class="error">There are no users in the system!</div>
    {% else %}
        <ul id="admin">
        {% for u in users %}
            <li><a href="/edit_user/{{ u.id }}">{{ u.first_name }} {{ u.last_name }} ({{ u.username }})</a></li>
        {% endfor %}
        </ul>
    {% endifequal %}
{% endblock %}
