{% extends "base.html" %}

{% block title %} Administrative Pages -- All Products {% endblock %}
{% block extra_head %}
	<link rel=stylesheet href="/static/css/admin.css" type="text/css" />
{% endblock %}

{% block main_content %}
    <h1>Administrate Products</h1>
    <div class="functions">
        <form method="post" action="/deleteProducts">
        {% csrf_token %}
        <div class="button_text">
            <a href="/myadmin_addProduct"><img src="/static/images/new_product.png"
                                               width="32" align="middle" /></a>
            <a href="/myadmin_addProduct"
               style="font-style: oblique; text-decoration: none;">Add a new product</a>
        </div>

        <div class="button_text">
            <a href="/myadmin_deleteProducts"><img src="/static/images/delete.png"
                                               width="32" align="middle" /></a>
            <a href="/myadmin_deleteProducts"
               style="font-style: oblique; text-decoration: none;">Delete
               selected products</a>
        </div>

        <div class="button_text">
            <a href="/myadmin"><img src="/static/images/return.png"
                                    alt="Back to admin"
                                    width="32" align="middle" /></a>
            <a href="/myadmin"
               style="font-style: oblique; text-decoration: none;">Return to
               administrative functions</a>
        </div>
    </div>
    {% ifequal products_no 0 %}
        <div class="error">There are no products in the system!</div>
    {% else %}
        <table id="products">
            <tr>
                <th>
                    Product name
                </th>
                <th>
                    Units in stock
                </th>
                <th>
                    Popularity
                </th>
                <th>
                    Rating
                </th>
            </tr>
        {% for p in products %}
            <tr>
                <td>
			        <input type="checkbox" value="{{ p.id }}" name="product_list" />
                    <a href="/editProduct/{{ p.id }}">{{ p.name }}</a>
                </td>
                <td style="text-align: right;">
                    {{ p.stock_count }}
                </td>
                <td style="text-align: right;">
                    {{ p.visit_count }}
                </td>
                <td style="text-align: right;">
                    {{ p.average_rating }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endifequal %}
{% endblock %}
