{% extends "base.html" %}

{% block title %} My cart {% endblock %}
{% block extra_head %}
	<link rel=stylesheet href="/static/css/cart.css" type="text/css" />
{% endblock %}

{% block side_bar %}
	<div id="side_bar">
		<ul id="side_bar">
			<li><a href="/profile">Your profile</a></li>
			<li><a href="/cart">Your cart</a></li>
			<li><a href="/myProducts">Your buy products</a></li>
		</ul>	
	</div>
{% endblock %}

{% block main_content %}

	<script>
	function deleteProduct(product, thisPrice){
		var answer = confirm("Are you sure?")
		if (answer){
			$('#item-'+product).css("display","none");
			total = $('#total').html();
			thisPrice = $('#quantity-'+product).val() * thisPrice;
			$('#total').html(total-thisPrice);
			$('#quantity-'+product).val("0");
			
			$.post("cart/del", { product: product},
			   function(data){			     
					$('#products-in-cart').html(data);
					$("#my-cart").hide();
					$("#my-cart").fadeIn();;
			   });
						
			$("#total").hide();
			$("#total").fadeIn();
		}	
	}
	
	function editQuantity(product, thisPrice){
		total = $('#total').html();
		beforeQuantity = $('#before-quantity-'+product).val();
		newQuantity = $('#quantity-'+product).val();
		actualCost = thisPrice * beforeQuantity;
		newCost = newQuantity * thisPrice;
		total -= actualCost;
		total += newCost;

		$.post("cart/edit", { product: product, quantity:newQuantity},
		   function(data){			     
				$('#products-in-cart').html(data);
				$("#my-cart").hide();
				$("#my-cart").fadeIn();;
		   });
		
		$('#total').html(total.toFixed(2));
		$('#before-quantity-'+product).val(newQuantity);
		$("#total").hide();
		$("#total").fadeIn();
	}
	
	</script>

	{% if products %}
	<center><h2>My order on {{ payment.payment_date }}</h2>
		<h2>Status: {{ payment.status }}</h2>
	<table cellspacing="0" callpadding="50" border="0" width="550">

			{% for product in products %}
			<tr class="item" id="item-{{ product.id }}">
				<td class="picture" width="60"><img src="{{ product.product.picture }}" class="product-pic"/></td>
				<td class="name"><a href="/product/{{ product.product.id }}">{{ product.product.name }}</a></td>
				<td class="rate">
					{% if payment.status == 'Delivered' %}
					{% else %}
						<img src="/static/images/heart-pic-no.png" />
						<img src="/static/images/heart-pic-no.png" />
						<img src="/static/images/heart-pic-no.png" />
						<img src="/static/images/heart-pic-no.png" />
						<img src="/static/images/heart-pic-no.png" />
					{% endif %}
				
				</td>
				<td class="value" >{{ product.quantity }} x {{ product.unit_price }} &euro; = {{ product.total }} &euro;</td>

			</tr>
			{% endfor %}
			
	</table>
	</center>
	
	{% else %}
		<center><h2>This order does not have products.</h2></center>
	{% endif %}
	
{% endblock %}