

{% extends "base.html" %}

{% block title %} My cart {% endblock %}
{% block extra_head %}
	<link rel=stylesheet href="/static/css/cart.css" type="text/css" />
{% endblock %}

{% block side_bar %}
	<div id="side_bar">
		<ul id="side_bar">
			<li><a href="/editProfile">My profile</a></li>
			<li><a href="/cart">My cart</a></li>
			<li><a href="/myProducts">My shopping history</a></li>
		</ul>	
	</div>
{% endblock %}

{% block main_content %}

<script>
function sendPayment(){
	$.post("checkout/set/postal", { 
		pid: "{{ payment.pid }}", 
		postal_address: $("#id_postal_address").val(),
		postal_code: $("#id_postal_code").val(),
		postal_city: $("#id_postal_city").val(),
		postal_country: $("#id_postal_country").val()
	   },
	   function(data){
			if(data == 'OK'){
				$('#payment-form').submit()
			}
			else{
				alert(data)
				$('#message').html(data)
			}
	   });
}
</script>

	{% if cart %}
	<div>
        <h2>My order</h2>
		<p id="message">{{ message }}<p>
		
	<table class="centered table-cart">
		<form action="/checkout" method="post" id="form-myCart">
			{% csrf_token %}
			
			{% for product in cart %}
			<tr class="item" id="item-{{ product.id }}">
				<td class="picture"><img src="{{ product.product.picture }}" class="product-pic-check"/></td>
				<td class="name"><a href="/product/{{ product.product.id }}">{{ product.product.name }}</a></td>
				<td class="quantity"> {{ product.quantity }} items x {{ product.product.price }}</td>
				<td class="value">{{ product.total }} &euro;</td>
			</tr>
			{% endfor %}
			
			<tr>
				<td colspan="4" class="total">
					Total: <span id="total">{{ payment.amount }}</span> &euro;
				</td>
			</tr>
		</form>
	</table>
	
	<p>
		Your order will be sent to this location, but you can change it.
	</p>                                                                                                      
	<form method="post" id="postal_info">
		<table border="0">
		{% csrf_token %}
		{{ postal_form.as_table }}
		<tr>
			<td colspan="2"><br/>
			    <div class="centered">
                    <div id="checkout" onclick="sendPayment()">
					 Pay 
				    </div>
                </div>
				<br /><br />
			</td>
		</table>
	</form>
	</div>

	<form action="http://webcourse.cs.hut.fi/payment/pay/" method="POST" id="payment-form">
	    <input type="hidden" name="pid" value="{{ payment.pid }}" />
	    <input type="hidden" name="sid" value="{{ sid }}" />
	    <input type="hidden" id="id_amount" name="amount" value="{{ payment.amount }}" />
	    <input type="hidden" name="success_url" value="http://webcourse.cs.hut.fi:8106/success" />
	    <input type="hidden" name="cancel_url" value="http://webcourse.cs.hut.fi:8106/cancel" />
	    <input type="hidden" name="error_url" value="http://webcourse.cs.hut.fi:8106/error" />
		<input name="dev" type="hidden" id="id_dev">
	    <input type="hidden" name="checksum" value="{{ payment.checksum }}" />
	</form>
	
	{% else %}
		<h2>Your cart is empty!</h2>
	{% endif %}
	
{% endblock %}
