{% extends "base.html" %}

{% block title %} Product | {{ product.name }} {% endblock %}
{% block extra_head %}
	<link rel=stylesheet href="/static/css/product.css" type="text/css" />
{% endblock %}

{% block side_bar %}{% endblock %}

{% block main_content %}

<script>

function rate(comment, option){
	$.get('/comment/'+comment+'/'+option, function(data) {
		$('#comment-rate-'+comment).html(data);
	});
}

function showReplyBox(comment){
	$('.write_reply').css("display","none");
	$('#comment_reply_box_'+comment).css("display","block");
}

</script>

	<div id="product-content">
		<div id="left-side">
			<img src="{{product.picture}}" />
		</div>
		
		<div id="right-side">
			<div id="p-name">
				<h1>{{ product.name }}</h1>
			</div>			
			
			<div id="p-price">
				 {{ product.price }}&euro; | BUY 
			</div>
			
			<div id="clear" style="margin-left: 5px;">
				
				<p>
					<!-- This is awful, I know, but I can do in range(product.average_rating) -->		
					{% if product.average_rating == 1 %}
						<img src="/static/images/heart-pic.png" /> 
					{% endif %}
					{% if product.average_rating == 2%}
						<img src="/static/images/heart-pic.png" /> <img src="/static/images/heart-pic.png" /> 
					{% endif %}
					{% if product.average_rating == 3%}
						<img src="/static/images/heart-pic.png" /> <img src="/static/images/heart-pic.png" /> <img src="/static/images/heart-pic.png" /> 
					{% endif %}
					{% if product.average_rating == 4%}
						<img src="/static/images/heart-pic.png" /> <img src="/static/images/heart-pic.png" /> <img src="/static/images/heart-pic.png" /> <img src="/static/images/heart-pic.png" /> 
					{% endif %}
					{% if product.average_rating == 5%}
						<img src="/static/images/heart-pic.png" /> <img src="/static/images/heart-pic.png" /> <img src="/static/images/heart-pic.png" /> <img src="/static/images/heart-pic.png" /> <img src="/static/images/heart-pic.png" /> 
					{% endif %}
					&nbsp;({{ product.votes }} user reviews)
				</p>
				<p>
					{{ product.stock_count }} products avaiable | {{ product.visit_count }} visits
				</p>
				<p>
					{{ product.description }}
				</p>
				
				
				<div id="comments">
					{% for comment in comments %}
						<a name="{{ comment.id }}"></a>
						{% if comment.hasProduct %}
							<div class="comment buyer" >
						{% else %}
							<div class="comment">
						{% endif %}
						
							{% if comment.parent_id %}
								<blockquote>
									<i>In reply to <a href="#{{ comment.parent_id.id }}">@{{ comment.parent_id.user }}</a></i><br/> 
									{{ comment.comment }}
								</blockquote>
							{% else %}
								<blockquote>
									{{ comment.comment }}
								</blockquote>					
							{% endif %}
							
							<cite><strong>{{ comment.user.username }}</strong> on {{ comment.timestamp }}</cite>
							<div class="rate" id="comment-rate-{{ comment.id }}">
								{% if user %}<a onclick="showReplyBox('{{ comment.id }}');">Reply</a> | {% endif %} {{ comment.positives }} 
								<img src="/static/images/up.png" onclick="rate({{ comment.id }},1);" />&nbsp;
								<img src="/static/images/down.png" onclick="rate({{ comment.id }},0);" /> {{ comment.negatives }}
							</div>
							
							<!--<div id="com_repy">reply</div>
							<div id="com_rating">rate comment</div>-->
						</div>
						
						{% if user %}
						<div class="write_reply" id="comment_reply_box_{{ comment.id }}">
							<form action="/product/{{ product.id }}/comment/" method="post">
								{% csrf_token %}
								{{ form.as_p }}
								<input type="hidden" name="in_reply" value="{{ comment.id }}"/>
							<input type="submit" value="Post" />
							</form>
						</div>
						{% endif %}
						
					{% endfor %}
				</div>
				
				{% if user %}
				<div id="write_comment">
					<form action="/product/{{ product.id }}/comment/" method="post">
						{% csrf_token %}
						{{ form.as_p }}
						<input type="hidden" name="in_reply" value="0"/>
					<input type="submit" value="Post" />
					</form>
				</div>
				{% endif %}
				
				
			</div>
		</div>
		
		
	</div>

{% endblock %}
