{% extends "base.html" %}

{% block title %} Webshop | My Profile {% endblock %}

{% block extra_head %}
	<meta http-equiv="cache-control" content="no-cache" />
{% endblock %}

{% block side_bar %}
	<div id="side_bar">
		<ul id="side_bar">
			<li><a href="/editProfile">My profile</a></li>
			<li><a href="/cart">My cart</a></li>
			<li><a href="/myProducts">My shopping history</a></li>
		</ul>	
	</div>
{% endblock %}

{% block main_content %}
    {% block profile_form %}
        <h1>My Profile</h1>
        {% if saved %}
            <div class="success">Profile data saved successfully!</div>
        {% endif %}
        <form enctype="multipart/form-data" id="profile_form" method="post" action="/saveProfile">
        {% csrf_token %}
        <table>
        <tr>
            <td colspan="2">
                <img src="{{ picture }}" align="middle"
                     height="64" id="picture_enabler"
                     style="cursor: pointer;" title="Add your own picture" />
                <em>Click on the image to change your own picture</em>
                <br />
                {{ form.picture }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="fname">First name:</label>
            </td>
            <td>
            <input type="text" id="fname" name="fname" value="{{ fname }}" />
            </td>
        </tr>
        <tr>
            <td>
	        <label for="fname">Last name:</label>
            </td>
            <td>
            <input type="text" id="sname" name="sname" value="{{ sname }}" />
            </td>
        </tr>
        <tr>
            <td>
	        <label for="user">Username:</label>
            </td>
            <td>
            {{ user }}
            <input type="hidden" name="user" value="{{ user }}" />
            </td>
        </tr>
        <tr>
            <td>
	        <label for="pass">Password:</label>
            </td>
            <td>
            {{ form.passwd }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="pass2">Repeat password:</label>
            </td>
            <td>
            {{ form.pass2 }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="email">Email:</label>
            </td>
            <td>
            {{ email }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="address">Address:</label>
            </td>
            <td>
            <input type="text" maxlength="32" id="address" name="address" value="{{ address }}" />
            </td>
        </tr>
        <tr>
            <td>
	        <label for="postal_code">Postal code:</label>
            </td>
            <td>
            <input type="text" id="postal_code" name="postal_code" value="{{ postal_code }}" />
            </td>
        </tr>
        <tr>
            <td>
	        <label for="city">City:</label>
            </td>
            <td>
            <input type="text" id="city" name="city" value="{{ city }}" />
            </td>
        </tr>
        <tr>
            <td>
	        <label for="postal_country">Country:</label>
            </td>
            <td>
            <input type="text" id="country" name="country" value="{{ country }}" />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="buttons">
                <input class="button" type="submit" name="submit" value="Save" />
                <input class="return" type="button" value="Delete my account"
                       onclick="window.location='/deleteAccount'" />
            </td>
        </tr>
        </table>
        </form>
    {% endblock %}
{% endblock %}
