{% extends "base.html" %}

{% block title %} Webshop -- My Profile {% endblock %}


{% block main_content %}
    {% block profile_form %}
        <h1>My Profile</h1>
        <form id="profile_form" method="post" action="/save_profile">
        {% csrf_token %}
        <table>
        <tr>
            <td colspan="2">
                <img src="{{ picture }}" align="middle"
                     height="64" id="picture_enabler"
                     style="cursor: pointer;" title="Add your own picture" />
                <em>Click on the image to change your own picture</em>
                <br />
                {{ form.picture }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="fname">First name:</label>
            </td>
            <td>
            {{ form.fname }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="sname">Surname:</label>
            </td>
            <td>
            {{ form.sname }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="user">Username:</label>
            </td>
            <td>
            {{ user }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="pass">Password:</label>
            </td>
            <td>
            {{ form.passwd }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="pass2">Repeat password:</label>
            </td>
            <td>
            {{ form.pass2 }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="email">Email:</label>
            </td>
            <td>
            {{ form.email }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="address">Address:</label>
            </td>
            <td>
            {{ form.postal_address }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="postal_code">Postal code:</label>
            </td>
            <td>
            {{ form.postal_code }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="postal_city">City:</label>
            </td>
            <td>
            {{ form.postal_city }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="postal_country">Country:</label>
            </td>
            <td>
            {{ form.postal_country }}
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" name="submit" value="Save" />
            </td>
        </tr>
        </table>
        </form>
    {% endblock %}
{% endblock %}
