{% extends "base.html" %}

{% block title %} Webshop -- Sign in {% endblock %}

{% block main_content %}
    {% block login_form %}
        <h1>Sign in</h1>

        <!-- in case of sign-in failed -->
        {% if login_failed %}
            <div class="error">Username or password incorrect!</div>
        {% endif %}

        <!-- welcome to newly registered user -->
        {% if registered %}
            <p>Welcome to Webshop! To start purchasing
            products, rating comments and enjoying the webshop retail
            experience, please sign in.</p>
        {% endif %}

        <!-- sign-in form -->
        <form method="post" id="signin_form" action="/login">
        {% csrf_token %}
        <table>
        <tr>
            <td>
	        <label for="user">Username:</label>
            </td>
            <td>
            <input type="text" id="user" name="user" maxlength="16" />
            </td>
        </tr>
        <tr>
            <td>
	        <label for="pass">Password:</label>
            </td>
            <td>
            <input type="password" id="pass" name="pass" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input class="button" type="submit" name="submit" value="Sign in" />
            </td>
        </tr>
        </table>
        </form>
    {% endblock %}
    <p>
        <a href="/forgot_password">Forgot your password?</a>
    </p>
{% endblock %}
