<!--
  - signup.html
  -
  - This form is used to register a new user into the system.
-->
{% extends "base.html" %}

{% block title %} Registration Form {% endblock %}

{% block main_content %}
    {% block registration_form %}
        <h1>Register now</h1>
        <form enctype="multipart/form-data" id="register_form" method="post" action="/register">
        {% csrf_token %}
        {% if user_exists %}
            <div class="error">Username or email already exist in the
            system! Please pick a different username and make sure your email
            address is correct.</div>
        {% endif %}
        <table>
        <tr>
            <td colspan="2">
                <img src="/static/images/users/new_user.png" align="middle"
                     height="64" id="picture_enabler"
                     style="cursor: pointer;" title="Add your own picture" />
                <em>Click on the image to add your own picture</em>
                <br />
                {{ form.picture }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="fname">First name:</label>
            </td>
            <td>
            {{ form.fname }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="sname">Surname:</label>
            </td>
            <td>
            {{ form.sname }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="user">Username:</label>
            </td>
            <td>
            {{ form.user }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="pass">Password:</label>
            </td>
            <td>
            {{ form.passwd }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="pass2">Repeat password:</label>
            </td>
            <td>
            {{ form.pass2 }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="email">Email:</label>
            </td>
            <td>
            {{ form.email }}
            </td>
        </tr>
        <tr>
            <td>
	        <label for="email2">Repeat email:</label>
            </td>
            <td>
            {{ form.email2 }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                You will be able to set more detailed information (e.g. delivery
                address) in your user profile, once you are registered and
                logged in.
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" id="submit" value="Register" />
                <input type="reset" value="Clear" />
            </td>
        </tr>
        </table>
        </form>
    {% endblock %}
{% endblock %}
