{% extends "base.html" %}

{% block title %} Webshop -- Sign in {% endblock %}

{% block main_content %}
    {% block login_form %}
        <h1>Sign in</h1>
        {% if login_failed %}
            <div class="error">Username or password incorrect!</div>
        {% endif %}
        <form method="post" action="/login">
        {% csrf_token %}
        <table>
        <tr>
            <td>
	        <label for="user">Username:</label>
            </td>
            <td>
            <input type="text" id="user" name="user" maxlength="16" />
            </td>
        </tr>
        <tr>
            <td>
	        <label for="pass">Password:</label>
            </td>
            <td>
            <input type="password" id="pass" name="pass" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" name="submit" value="Sign in" />
            </td>
        </tr>
        </table>
        </form>
    {% endblock %}
    <p>
        <a href="/forgot_password">Forgot your password?</a>
    </p>
{% endblock %}
